{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css//bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img class="yvd-logo" src="static/img/logo.webp" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-top-padding" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Tool</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Doc</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="yvd-hero d-flex justify-content-center align-item-center">
      <form method="POST" action="/download/" onsubmit="showLoader()">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-center align-item-center"
            >
              <div class="yvd-heading-wrap">
                <h1 class="yvd-h1 text-center text-white">
                  Download YouTube Videos Instantly — Fast, Free & Easy
                </h1>
                <div class="yvd-para-wrap">
                  <p class="text-center text-white">
                    Paste your YouTube video link below and download in MP4 or
                    MP3 format — no signup needed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-center align-item-center"
            >
              <div
                class="text-field-main d-flex justify-content-center align-item-cente"
              >
                <div class="text-field-wrap">
                  <input
                    class="input-field"
                    type="text"
                    name="link"
                    id="link"
                    placeholder="paste here"
                  />
                </div>
                <div class="paste-wrap" onclick="pasteLink()">
                  <i class="fa-solid fa-paste" style="color: #000000"></i>
                  <p>Paste</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div
              class="col-md-12 button-main d-flex justify-content-center align-item-center"
            >
              <div class="format-wrap">
                <div
                  class="custom-select d-flex justify-content-center align-item-center"
                >
                  <select name="format" required>
                    <option selected disabled>Select Format</option>
                    <option value="mp3">MP3 (Audio)</option>
                    <option value="mp4_720">MP4 (720p Video)</option>
                    <option value="mp4_360">MP4 (360p Video)</option>
                  </select>
                  <i class="fa-solid fa-caret-down" style="color: #000000"></i>
                </div>
              </div>
              <input
                type="submit"
                class="cssbuttons-io-button"
                value="Download"
                style="padding: 10px 20px"
              />
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="about">
      <div class="about-main">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="g-heading-main">
                <div class="g-heading-wrap">
                  <h2 class="g-heading-text text-color-main">About Our YouTube Downloader</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="about-para">
                <p>  Welcome to <strong>YourDownloaderSite.com</strong>, your ultimate solution for downloading YouTube videos quickly, safely, and for free. Whether you're looking to <strong>download YouTube videos in MP4 or MP3</strong>, our tool provides a seamless experience with multiple format options like 720p, 360p, and high-quality MP3.</p>
                <p> Our platform is optimized to help content creators, students, and general users save their favorite YouTube videos for offline use. No login required, no ads, just fast downloads using the latest technology.</p>
              </div>
              <div class="mt-5">
                <h2 class="text-color-main">Why Choose Us?</h2>
                <div class="icon-wrap-v2">
                  <img src="static/img/icon-2.svg" alt="">
                  <p class="">Fast YouTube video downloader with MP4 & MP3 formats</p>
                </div>
                <div class="icon-wrap-v2">
                  <img src="static/img/icon-2.svg" alt="">
                  <p class="">100% safe and secure</p>
                </div>
                <div class="icon-wrap-v2">
                  <img src="static/img/icon-2.svg" alt="">
                  <p class=""> Mobile-friendly & easy to use</p>
                </div>
                <div class="icon-wrap-v2">
                  <img src="static/img/icon-2.svg" alt="">
                  <p class="">Completely free with no hidden charges</p>
                </div>
                  <div class="icon-wrap-v2">
                  <img src="static/img/icon-2.svg" alt="">
                  <p class="text-style-h6">Includes tips on <strong>how to earn money from YouTube</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="guide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="g-heading-main">
              <div class="g-heading-wrap">
                <h2 class="text-white g-heading-text">How do I download videos from YouTube</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="first-row">
              <div class="a-left-part">
                <div class="a-left-image-wrap">
                  <img src="static/img/a-img-1.webp" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-item-center">
            <div class="second-row">
              <div class="a-right-part">
                <div class="step-heading-wrap">
                  <h4 class="text-white">Step 1: Copy the YouTube Video Link</h4>
                </div>
                <div class="icon-wrap">
                  <img src="static/img/icon.svg" alt="">
                  <h5 class="h5-padding text-white">Go to YouTube, open the video you want to download</h5>
                </div>
                <div class="icon-wrap">
                  <img src="static/img/icon.svg" alt="">
                  <h5 class="h5-padding text-white">And copy the URL from the address bar or by clicking the “Share” button.</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="first-row">
              <div class="a-left-part">
                <div class="a-left-image-wrap">
                  <img src="static/img/a-img-2.webp" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-md-first d-flex justify-content-center align-item-center">
            <div class="second-row">
              <div class="a-right-part">
                <div class="step-heading-wrap">
                  <h4 class="text-white">Step 2: Paste the Link and Download</h5>
                </div>
                <div class="icon-wrap">
                  <img src="staticimg/icon.svg" alt="">
                  <h5 class="h5-padding text-white">Paste the copied YouTube video URL into the downloader tool.</h5>
                </div>
                <div class="icon-wrap">
                  <img src="static/img/icon.svg" alt="">
                  <h5 class="h5-padding text-white">Select the video quality and format you want.</h5>
                </div>
                <div class="icon-wrap">
                  <img src="static/img/icon.svg" alt="">
                  <h5 class="h5-padding text-white">Click the Download button, and the video will be saved to your device.</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="my-2 footer-main">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="footer-wrap text-center">
              <p>Designed And Developed by DNP INFOTECH.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      async function pasteLink() {
        try {
          const text = await navigator.clipboard.readText();
          document.getElementById("link").value = text;
        } catch (err) {
          alert("❌ Unable to paste. Please allow clipboard permission.");
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
