{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="YouTube downloader, download YouTube videos, MP4 YouTube download, YouTube to MP3, 720p downloader, monetize YouTube channel, YouTube Partner Program, YouTube earnings, AdSense, affiliate marketing">
    <meta name="description" content="Download YouTube videos in MP4, MP3, 720p, or 360p fast and free. Learn how to earn money from YouTube and monetize your channel using AdSense, affiliate marketing, and more. Best YouTube downloader and monetization guide 2025.">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css//bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Free YouTube Video Downloader - MP3 & MP4 Online | quickytdownload</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav-bg px-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img class="yvd-logo" src="img/logo.webp" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-top-padding" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <i class="fa-solid fa-download fa-sm" style="color: #000000;"></i>
                <p>Home</p>
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-clock-rotate-left fa-sm" style="color: #000000;"></i><p>History</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-user-plus fa-sm" style="color: #000000;"></i><p>Blog</p></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="yvd-hero d-flex justify-content-center align-item-center">
      <form method="POST" action="/download/" onsubmit="showLoader()">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-center align-item-center"
            >
              <div class="yvd-heading-wrap">
                <h1 class="yvd-h1 text-center text-white">
                  Download YouTube Videos Instantly — Fast, Free & Easy
                </h1>
                <div class="yvd-para-wrap">
                  <p class="text-center text-white">
                    Paste your YouTube video link below and download in MP4 or
                    MP3 format — no signup needed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-center align-item-center"
            >
              <div
                class="text-field-main d-flex justify-content-center align-item-cente"
              >
                <div class="text-field-wrap">
                  <input
                    class="input-field"
                    type="text"
                    name="link"
                    id="link"
                    placeholder="https://www.youtube.com/watch?v=...."
                  />
                </div>
                <div class="paste-wrap" onclick="pasteLink()">
                  <i class="fa-solid fa-paste" style="color: #000000"></i>
                  <p>Paste</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div
              class="col-md-12 button-main d-flex justify-content-center align-item-center"
            >
              <div class="format-wrap">
                <div
                  class="custom-select d-flex justify-content-center align-item-center"
                >
                  <select name="format" required>
                    <option selected disabled>Select Format</option>
                    <option value="mp3">MP3 (Audio)</option>
                    <option value="mp4_720">MP4 (720p Video)</option>
                    <option value="mp4_360">MP4 (360p Video)</option>
                  </select>
                  <i class="fa-solid fa-caret-down" style="color: #000000"></i>
                </div>
              </div>
              <input
                type="submit"
                class="cssbuttons-io-button"
                value="Download"
                style="padding: 10px 20px"
              />
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="guide">
      <div class="container"> 
        <div class="main">
          <div class="row">
            <div class="guide-main">
              <div class="card-main">
              <div class="card">
                <div class="card-icon-wrap">
                  <img class="icon" src="static/img/icon-3.svg" alt="">
                </div>
                <div class="card-contant-wrap">
                  <p class="card-text">High Quality</p>
                  <p class="card-para">Download videos in up to 1080p HD quality with crystal clear audio</p>
                </div>
              </div>
            </div>
            <div class="card-main">
              <div class="card">
                <div class="card-icon-wrap">
                  <img class="icon" src="static/img/icon-4.svg" alt="">
                </div>
                <div class="card-contant-wrap">
                  <p class="card-text">Multiple Format</p>
                  <p class="card-para">Support for MP4, MP3, WebM and more formats to suit your needs.</p>
                </div>
              </div>
            </div>
            <div class="card-main">
              <div class="card">
                <div class="card-icon-wrap">
                  <img class="icon" src="static/img/icon-5.svg" alt="">
                </div>
                <div class="card-contant-wrap">
                  <p class="card-text">Fast & Secure</p>
                  <p class="card-para">Lightning-fast downloads with secure processing and no data storage.</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="step">
      <div class="container">
        <div class="main">
          <div class="row">
            <div class="col-md-12">
              <div class="step-main">
                <div class="step-heading">
                  <i class="fa-solid fa-circle-question" style="color: #ffffff;"></i>
                  <p class="card-text text-white">How to use</p>
                </div>
                <div class="step-wrap">
                  <div class="step-contant-wrap">
                    <div class="step-text-wrap">
                      <p class="step-text text-white">Step 1: Copy Url</p>
                      <p class="text-white para">Go to YouTube and copy the URL of the video you want to download.</p>
                    </div>
                    <div class="step-text-wrap">
                      <p class="step-text text-white">Step 3: Download</p>
                      <p class="text-white para">Click the download button and wait for the process to complete.</p>
                    </div>
                  </div>
                  <div class="step-contant-wrap">
                    <div class="step-text-wrap">
                      <p class="step-text text-white">Step 2: Paste & Select</p>
                      <p class="text-white para">Paste the URL above and choose your preferred format and quality..</p>
                    </div>
                    <div class="step-text-wrap">
                      <p class="step-text text-white">Step 4: Enjoy</p>
                      <p class="text-white para">Your downloaded file will be saved to your device automatically.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="my-2 footer-main">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="footer-wrap text-center">
              <p>Designed And Developed by DNP INFOTECH.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      async function pasteLink() {
        try {
          const text = await navigator.clipboard.readText();
          document.getElementById("link").value = text;
        } catch (err) {
          alert("❌ Unable to paste. Please allow clipboard permission.");
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
